<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
window.addEventListener('load', function() {} ) 
// 添加load事件，页面加载完后再运行 
// 1. 获取元素  
 var focus = document.querySelector('.focus'); 
 var ul = focus.children[0];  
 var w = focus.offsetWidth; // 获得focus 的宽度 
// 2. 利用定时器自动轮播图图片 
 var index = 0; 
 var timer = setInterval(function() { 
 index++; 
 var translatex = -index * w; 
 ul.style.transition = 'all .3s'; 
 ul.style.transform = 'translateX(' + translatex + 'px)'; 
 }, 2000);
  </script>
</html>
